<!DOCTYPE html> <!--browser falls back to older html version without this-->
<!--
  https://www.youtube.com/watch?v=G3e-cpL7ofc
  5. Text Styles
  6. HTML Structure
  https://fonts.google.com/specimen/Roboto
-->
<html>
  <head>
    <title>
      Text example
     </title>
    <link rel="stylesheet" href="./css/text.css"> <!--void element: no closing tag!-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
  </head>
  <body>
    <ul>
      <li>
        <a href="./index.html">Home</a>
        <a href="./buttons.html">Buttons html</a>
        <a href="./text.html">Text html</a>
        <a href="./new-page.html">New Page</a>
      </li>
    </ul>
    <p class="video-title">
      HTML & CSS Full Course - Beginner to Pro
    </p>
    <p class="video-stats">
      3,6M views &#183; 2022.02.05.
    </p>
    <p class="video-author">
      SuperSimpleDev<b>&check;</b>
    </p>
    <p class="video-description">
      In this full course, we learn how to build websites with HTML and CSS, and get started as a software engineer.
    </p>
    <p class="apple-text">
      To watch the original tutorial video on youtube, 
        <a class="yt-link" href="https://www.youtube.com/watch?v=G3e-cpL7ofc" target="_blank" rel="noopener noreferrer">click here &gt;</a>
    </p>
  </body>
</html>